# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
ENV/
*.egg-info/
*.egg

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
